@charset "UTF-8";

body {
	background-color: #f4f9d2;
}
table.table1{
	width: 450px;
	table-layout: fixed;
	border: solid #7777CC 4px;
}

tr.tr-1{
	height: 80px;
	vertical-align: middle;
}

td.td-1{
	border: solid #0000ff ;
}

button.button-1 {
	color: #0000BB;
	background-color: #DDDD44;
	height: 40px;
	width: 80px;
	
}

div.div-1{
	font: oblique;
	font-size:20px;
	font-weight: 500;
	color: #804040;
	
}